<td-layout-nav-list #navList
  logo="assets:siipap-rx2" 
  navigationRoute="/"
  [opened]="media.registerQuery('gt-sm') | async"
  [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
  [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '250px' : '100%'">
   
  <button md-icon-button td-menu-button tdLayoutToggle>
    <md-icon>menu</md-icon>
  </button>

  <md-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')" dense>

    <ng-template let-route let-last="last" ngFor [ngForOf]="routes">  
      <a md-list-item 
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && navList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="[route.path]">
        <md-icon md-list-avatar>{{route.icon}}</md-icon>
        <h3 md-line>{{route.name}}</h3>
        <p md-line> {{route.descripcion}} </p>
      </a>
      <md-divider md-inset></md-divider>
    </ng-template>               

  </md-nav-list>
  <!-- <md-nav-list td-sidenav-content
               (click)="!media.query('gt-sm') && navList.close()">

    <ng-template let-route let-last="last" ngFor [ngForOf]="routes">  
      <a md-list-item 
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && navList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="[route.path]">
        <md-icon md-list-avatar>{{route.icon}}</md-icon>
        <h3 md-line>{{route.name}}</h3>
        <p md-line> {{route.descripcion}} </p>
      </a>
      <md-divider md-inset></md-divider>
    </ng-template>               

  </md-nav-list> -->

  <!-- <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span>Cátalogos (Compras) </span>
    <span flex></span>
    <button md-icon-button><md-icon >settings</md-icon></button>
    <button md-icon-button><md-icon >more_vert</md-icon></button>
  </div> -->
  
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
      <md-icon>arrow_back</md-icon>
    </button>
    <span>Cátalogos (Compras) </span>
    <span flex></span>
    <button md-icon-button><md-icon >settings</md-icon></button>
    <button md-icon-button><md-icon >more_vert</md-icon></button>
  </div>

  <router-outlet></router-outlet>
  <td-layout-footer color="primary">
      <div layout="row" layout-align="start center">
        <span class="md-caption">Copyright &copy; 2017 Luxsoft Mex. All rights reserved</span>
      </div>
    </td-layout-footer>
  
</td-layout-nav-list>