<div layout="row" [formGroup]="parent">
  <md-input-container flex>
    <input type="text" mdInput
           formControlName="cliente"
           placeholder="Seleccione un cliente"
           required
           [mdAutocomplete]="auto">
    <md-error>
      El cliente es mandatorio
    </md-error>
  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
    <md-option *ngFor="let cliente of clientes" [value]="cliente">
      {{ cliente.nombre }}
    </md-option>
  </md-autocomplete>
</div>

